@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply mx-8 bg-slate-500;
  }
  h1 {
    @apply mb-2 text-3xl font-bold;
  }
  .btn {
    @apply px-4 py-2 rounded transition duration-300 enabled:hover:text-white;
  }
  .btn-primary {
    @apply bg-orange-200 enabled:hover:bg-orange-500 ;
  }
  .btn-secondary {
    @apply bg-red-500 enabled:hover:bg-red-800;
  }
  .btn-tertiary {
    @apply bg-teal-400 enabled:hover:bg-teal-700;
  }

  .add-cell-dividers{
    @apply border-2 h-0 border-slate-400 w-full m-2 rounded-md
  }

  .wmde-markdown-color {
    @apply p-2 border-double border-white;
  }
  .w-md-editor .title {
    line-height: unset !important;
    font-size: unset !important;
    font-weight: unset !important;
  }
  .react-draggable-transparent-selection .cell-list{
    @apply mb-100vh;
  }
}
